{{ ansible_managed | comment }}

description "Prometheus Node Exporter"
start on (runlevel [345] and started network)
stop on (runlevel [!345] or stopping network)

respawn

script
  exec >> "/var/log/monitoring/node_exporter.log"
  exec 2>&1
  exec  start-stop-daemon --start -c {{ _node_exporter_system_user }} --exec {{ _node_exporter_binary_install_dir }}/node_exporter --name node_exporter  -- {% for collector in node_exporter_enabled_collectors %}--collector.{{ collector }} {% endfor %} {% for collector in node_exporter_disabled_collectors %}--no-collector.{{ collector }} {% endfor %} {% for flag, flag_value in node_exporter_config_flags.items() %}--{{ flag }}={{ flag_value }} {% endfor %} --web.listen-address={{ node_exporter_web_listen_address }}

end script
